<div class="col-sm-4"></div>
<div class="login col-sm-4">
    <h1>Resetovanje šifre </h1>

    <div ng-if="ctrl.errorMessage" class="alert alert-danger">
        {{ctrl.errorMessage}}
    </div>

    <div ng-if="ctrl.errors" class="alert alert-danger">
        <ul ng-repeat="error in ctrl.errors">
            <li ng-repeat="errorText in error">
                {{errorText}}
            </li>
        </ul>
    </div>
    <form class="form" method="post">
        <div>
            <input ng-model="ctrl.resetVM.Email" class="form-control" type="text" placeholder=" - email -" />
        </div>
        <br />
        <div>
            <input ng-model="ctrl.resetVM.Password" class="form-control" type="password" placeholder=" - šifra - " />
        </div>
        <br />
        <div>
            <input ng-model="ctrl.resetVM.ConfirmPassword" class="form-control" type="password" placeholder=" - ponovo unesite šifru - " />
        </div>
        <br />
        <button ng-click="ctrl.resetPassword()">Resetuj</button>
        <br />
          </form>

</div>
<div class="col-sm-4"></div>